@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    transition: transform 0.3s ease-in;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: black;
}

header {
    height: 200px;
    background: black url("../imagens/avatars-000044515224-8ufzmg-t240x240-removebg-preview.png") no-repeat;
    background-position: center center;
    
}

button{
    color: white;
}

.menu_button {
    background-color: transparent;
    margin: 1px;
    border: none;
    cursor: pointer;
    margin: 5px;
}



header > button#cart{
    position: fixed;
    top: 0;
    right: 0;
    background-color: green;
    border-radius: 5px;
    padding: 7px;
}

button#show_menu{
    position: absolute;
    background-color: black;
}

menu {
    background-color: red;
    padding: 29px 0px;
    width: 130px;
    height: 140px;
    box-shadow: 0px 0px 10px rgb(255, 208, 0);
    border: 1px solid yellow;
    border-radius: 5px;
    transform: translateX(-103%);

    display: block;
}

button#close_menu{
    position: absolute;
    background-color: red;
    right: 0;
}

.open {
    transform: translateX(-2%);
}

main {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    line-height: 22px;
}
.container {
    padding: 5px;
    margin: auto;
}
.galery-wrapper {
    border-radius: 5px;
    overflow-x: auto;
}

main > div > div > ul {
    display: flex;
}

main > div > div > ul > li {

    background-color: white;
    text-align: center;
    width: 85%;
    
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    list-style: none;
    transition-delay: 0.5s;
}


main > div > div > ul > li > img{
    height: 248px;
}


.main_button {
    color: white;
    background-color: green;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px black;
    
}
    
.price {
    color: green;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
footer > p > a{
    color: blue;
    text-decoration: none;
}
footer > p > a:hover{
    background-color: lightgrey;
    color: black;
    text-decoration: underline;
}

.current{
    padding: 5px;
    box-shadow: 0px 0px 10px yellow;
}